@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --black: #141414;
  --white: #f5f5f5;
  --error: #970d0d;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
} 

.content h1 {
  color: whitesmoke;
}

.content h4 {
  color: whitesmoke;
}

.content {
  position: fixed;
  /* bottom: 0; */
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: auto;
  padding: 20px;
  border-radius: 15px;
}

.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--black);
  font-family: "Roboto", sans-serif;
  list-style: none;
}

*:focus {
  outline: none;
}

.header {
  font-weight: 300;
  font-size: 40px;
  margin: 10px;
}

.headerH4 {
  font-weight: 300;
  font-size: 40px;
  margin: 10px 0 14px 0;
}

.city-search {
  padding: 40px;
  background-color: slategray;
  border-radius: 12px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}

.city-search:hover {
  -webkit-box-shadow: 0px 12px 15px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 12px 15px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

input {
  padding: 10.5px 15px;
  border: 1px solid var(--black);
  border-radius: 6px;
  background: var(--white);
  margin-bottom: 20px;
}

button {
  padding: 7px 12px 7px 12px;
  border-radius: 6px;
  border: unset;
  background-color: var(--black);
  color: var(--white);
  transition: box-shadow 0.3s;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  -webkit-box-shadow: 0px 8px 11px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 8px 11px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

button:active {
  box-shadow: unset;
}
#searchBtn {
  color: var(--white);
}
.food-drinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--black);
  width: 100vw;
  height: 100vh;
  max-width: 250px;
  max-height: 350px;
  padding: 20px;
}

.food-drinks button {
  margin: 15px;
  width: 90%;
}

.landing {
  display: flex;
  background-color: slategray;
  color: var(--white);
  border-radius: 12px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}

.landing:hover {
  -webkit-box-shadow: 0px 12px 15px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 12px 15px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.results {
  width: 100vw;
  height: 100vh;
  max-width: 500px;
  max-height: 350px;
  padding: 20px;
}

.results h3 {
  margin: 20px 0 0 20px;
}

.input-error {
  margin-top: 0;
  font-weight: bold;
  color: var(--error);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


